.paper_container {
    padding: 20px;
    margin: 20px 0;
}

form > * {
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;

}

.text {
    text-align: center;
}

.upload_image {
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}